# Vim
*~
*.swp
*.vim

# Visual Studio
Debug
Release
*.sdf
.vs

# CMake
CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

# Make/*nix
*.o
*.d
*.a

# Python
__pycache__

# this project
test

